<!-- <%- include("../layouts/header.ejs") %>

<h1>Update Profile</h1>
<br /><br />
    
        <td><img src="/userImages/<%= user.image %>" width="100px" height="120px" alt="<%= user.image %>"></td>
    
        <form action="/admin/edit" method="post" enctype="multipart/form-data">
            <input type="hidden" name="user_id" value="<%= user._id %>">
            <input type="file" name="image">
            <br><br>
            <input type="text" name="name" value="<%= user.name %>" placeholder="Enter Name" required>
            <br><br>
            <input type="email" name="email" value="<%= user.email %>" placeholder="Enter Email" required>
            <br><br>
            <input type="text" name="mno" value="<%= user.mobile %>" placeholder="Enter Mobile" required>
            <br><br>
            <input type="submit" value="Update">
        </form>
        
<a href="/admin/home">Cancel</a>

<%- include("../layouts/footer.ejs") %> -->


<%- include("../layouts/header.ejs") %>

<div class="container mt-5">
  <h1 class="text-center">Update Profile</h1>
  <div class="row justify-content-center mt-5">
    <div class="col-md-6">
      <img src="/userImages/<%= user.image %>" class="img-fluid" alt="<%= user.image %>">
      <form action="/admin/edit" method="post" enctype="multipart/form-data" class="mt-4">
        <input type="hidden" name="user_id" value="<%= user._id %>">
        <div class="form-group">
          <label for="image">Profile Image:</label>
          <input type="file" class="form-control-file" id="image" name="image">
        </div>
        <div class="form-group">
          <label for="name">Name:</label>
          <input type="text" class="form-control" id="name" name="name" value="<%= user.name %>" placeholder="Enter Name" required>
        </div>
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" class="form-control" id="email" name="email" value="<%= user.email %>" placeholder="Enter Email" required>
        </div>
        <div class="form-group">
          <label for="mno">Mobile:</label>
          <input type="text" class="form-control" id="mno" name="mno" value="<%= user.mobile %>" placeholder="Enter Mobile" required>
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
      </form>
      <a href="/admin/home" class="btn btn-secondary mt-3">Cancel</a>
    </div>
  </div>
</div>

<%- include("../layouts/footer.ejs") %>
