<!-- <%- include("../layouts/header.ejs") %>

<h1>Update Profile</h1>
<br /><br />
    
        <td><img src="/user/userImages/<%= user.image %>" width="100px" height="120px" alt="<%= user.image %>"></td>
    
        <form action="/user/edit-image" method="post" enctype="multipart/form-data">
            <input type="file" name="image">
            <input type="hidden" name="user_id" value="<%= user._id %>">
            <br><br>
            <input type="submit" value="Update">
        </form>
        
<a href="/user/home">Cancel</a>

<%- include("../layouts/footer.ejs") %> -->


<%- include("../layouts/header.ejs") %>

<div class="container mt-5">
  <h1 class="text-center">Update Profile</h1>
  <div class="row justify-content-center mt-4">
    <div class="col-md-6">
      <img src="/user/userImages/<%= user.image %>" alt="<%= user.image %>" width="100" height="120" class="img-fluid">
      <form action="/user/edit-image" method="post" enctype="multipart/form-data">
        <div class="form-group">
          <label for="image">Choose New Image:</label>
          <input type="file" name="image" class="form-control-file">
        </div>
        <input type="hidden" name="user_id" value="<%= user._id %>">
        <button type="submit" class="btn btn-primary">Update</button>
      </form>
      <a href="/user/home" class="btn btn-secondary mt-3">Cancel</a>
    </div>
  </div>
</div>

<%- include("../layouts/footer.ejs") %>
