<!-- <%- include("../layouts/header.ejs") %>

<h1>Reset Password</h1>

<% if(typeof message2 !== 'undefined') { %>
<h4 style="color: red"><%= message2 %></h4>
<% } %>

<form action="/user/reset-password" method="post">
  <input type="password" name="password" placeholder="New Password" required />
  <input type="password" name="password2" placeholder="Confirm Password" required />
  <input type="hidden" name="user_id" value="<%= user_id %>" required />
  <br /><br />
  <input type="submit" value="Reset" />
</form>

<%- include("../layouts/footer.ejs") %> -->


<%- include("../layouts/header.ejs") %>

<div class="container mt-5">
  <h1 class="text-center">Reset Password</h1>
  <div class="row justify-content-center mt-5">
    <div class="col-md-6">
      <% if(typeof message2 !== 'undefined') { %>
        <h4 class="text-danger"><%= message2 %></h4>
      <% } %>

      <form action="/user/reset-password" method="post">
        <div class="form-group">
          <label for="password">New Password:</label>
          <input
            type="password"
            class="form-control"
            id="password"
            name="password"
            placeholder="Enter New Password"
            required
          />
        </div>
        <div class="form-group">
          <label for="password2">Confirm Password:</label>
          <input
            type="password"
            class="form-control"
            id="password2"
            name="password2"
            placeholder="Confirm Password"
            required
          />
        </div>
        <input type="hidden" name="user_id" value="<%= user_id %>" required />
        <button type="submit" class="btn btn-primary">Reset</button>
      </form>
    </div>
  </div>
</div>

<%- include("../layouts/footer.ejs") %>
